<!DOCTYPE html>
  <html>

  <head>
    <title>Leaderboard</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
    
  </head>

  <body>
    <script src="script.js"></script>
    <label for="start-date">Start Date:</label>
    <input type="date" id="start-date">
    <label for="end-date">End Date:</label>
    <input type="date" id="end-date">
    <button id="filter-button">Filter</button>
    {% include 'header.html' %}
    {% block content %}{% endblock %}
    {% include 'footer.html' %}
  </body>

  </html>
