{% extends 'index.html' %}
{% block content %}
<div id="title-bar">
  <h1>UpdateBoard</h1>
</div>

<form method="get" class="flex-row justify-center" id="filter-form">
  <div class="flex-col form-input">
    <label for="created_at__gte">Created At(Greater than)</label>
    <input
      type = "date"
      id="created_at__gte"
      name="created_at__gte"
      value="{{created_at__gte}}"
    />
  </div>
  <div class="flex-col form-input">
    <label for="created_at__lte">Created At(Less than)</label>
    <input
      type = "date"
      id="created_at__lte"
      name="created_at__lte"
      value="{{created_at__lte}}"
    />
  </div>

  <div class="flex-col form-input">
    <label for="updated_at_at__gte">Updated At(Greater than)</label>
    <input
      type = "date"
      id="updated_at__gte"
      name="updated_at__gte"
      value="{{updated_at__gte}}"
    />
  </div>

  <div class="flex-col form-input">
    <label for="updated_at__lte">Updated At(Less than)</label>
    <input
      type = "date"
      id="updated_at__lte"
      name="updated_at__lte"
      value="{{updated_at__lte}}"
    />
  </div>
  <div class="flex-row items-end">
    <button class="btn">Filter results</button>
  </div>
</form>
<div class="responsive-wrapper">
  <ul id="button_list">
        {% for repo in repos %}
        <li>
          <button onclick="location.href='{{repo.latest_commit_url if repo.latest_commit_url else repo.url}}'" class={{repo.status}} type="button" style="background-image:url({{repo.avatar}})" title={{repo.name}}>
            {{repo.session}}-{{repo.exercise}} {{repo.name}}
          </button>
        </li>
        {% endfor %}
      </ul>
</div>
{% endblock %}
